@media (max-width: 1199px) {
   .container {
      max-width: 992px;
   }
   .header {
      &__logo {
         font-size: 28px;
      }
      &__nav {
         width: 100%;
      }
      &__link {
         font-size: 15px;
      }
   }

   .desc {
      padding-top: 10em;
      padding-bottom: 7em;
      font-size: 20px;
      &__service {
         font-size: 45px;
      }
      &__bold {
         font-size: 22px;
      }
   }

   .repair {
      &__box1,
      &__box2 {
         font-size: 15px;
      }
   }

   .main {
      &__profile {
         font-size: 66px;
      }

      .parthers {
         &__title {
            font-size: 66px;
         }
         &__list {
            font-size: 26px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            li {
               padding-bottom: 15px;
            }
         }
      }

      .clients {
         margin-bottom: 160px;
         &__title {
            font-size: 66px;
         }
         &__list {
            font-size: 17px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
            justify-items: start;
            align-items: center;
            font-size: 28px;
         }
      }
   }

   .map-text {
      font-size: 66px;
   }

   .footer {
      font-size: 20px;
   }

   .job-img {
      width: 280px;
      height: 440px;
   }

   .big {
      width: 910px;
      height: 500px;
   }
}

@media (max-width: 991px) {
   .container {
      max-width: 768px;
   }
   .header {
      &__logo {
         padding-right: 0;
         font-size: 28px;
      }
      &__list {
         display: none;
      }
      &__nav {
         padding-top: 18px;
         padding-bottom: 18px;
      }
   }

   .desc {
      &__service {
         font-size: 66px;
      }
      &__bold {
         font-size: 25px;
      }
   }

   // burger start
   .burger-menu {
      display: block;
      &__link-phone {
         color: white;
         font-size: 28px;
      }
      &__button {
         position: fixed;
         top: 5px;
         left: 30px;
         z-index: 30;
         width: 60px;
         height: 60px;
      }
      &__lines,
      &__lines::after,
      &__lines::before {
         position: absolute;
         width: 30px;
         height: 4px;
         z-index: 40;
         background: white;
         border-radius: 2px;
         transition: all 0.6s;
      }
      &__lines {
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      &__lines:hover {
         filter: brightness(0.7);
      }
      &__lines::before {
         content: "";
         top: 10px;
      }
      &__lines::after {
         content: "";
         top: -10px;
      }
   }

   .burger-menu__active .burger-menu__lines {
      background: transparent;
   }
   .burger-menu__active .burger-menu__lines::before {
      top: 0;
      transform: rotate(45deg);
   }
   .burger-menu__active .burger-menu__lines::after {
      top: 0;
      transform: rotate(-45deg);
   }

   .burger-menu__nav {
      padding-top: 40px;
      position: fixed;
      z-index: 20;
      display: flex;
      flex-flow: column;
      height: 100%;
      background: #2a2a2a;
      overflow-y: auto;
      left: -100%;
      top: 0;
      transition: all 0.6s;
   }
   .burger-menu__active .burger-menu__nav {
      left: 0;
   }
   .burger-menu__link {
      padding-left: 45px;
      padding-top: 45px;
      padding-right: 45px;
      font-size: 24px;
      font-family: "Montserrat-SemiBold";
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 5px;
      color: white;
   }
   .burger-menu__link:hover {
      filter: brightness(0.7);
      transition: all 0.3s;
   }

   .burger-menu__overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -10;
      transition: all 0.4s;
   }

   .burger-menu__active .burger-menu__overlay {
      display: block;
   }
   // burger end

   .repair {
      display: flex;
      align-items: center;
      text-align: center;
      &__box1,
      &__box2 {
         font-size: 14px;
         padding-left: 50px;
      }
   }

   .main {
      // .parthers {
      //    &__list {
      //       display: flex;
      //       flex-direction: column-reverse;
      //       align-items: center;
      //       font-size: 16px;
      //    }
      // }

      // .clients {
      //    &__list {
      //       font-size: 14px;
      //       grid-template-columns: 1fr 1fr 1fr;
      //       grid-template-rows: 50px 50px 50px 50px 50px 50px;
      //       justify-items: start;
      //    }
      // }
   }

   .footer {
      &__list {
         li {
            font-size: 18px;
         }
      }
   }

   // внутренние страницы
   .main {
      .advantage {
         &__image {
            max-width: 172px;
            max-height: 172px;
         }
         &__title {
            font-size: 60px;
         }
         &__text {
            font-size: 16px;
         }
      }
   }
   .work {
   }

   .job-img {
      width: 220px;
      height: 340px;
   }

   .big {
      width: 740px;
      height: 500px;
   }
   
}
.information-text {
      text-align: center;
   }

@media (max-width: 767px) {
   .container {
      max-width: 576px;
   }

   .desc {
      font-size: 20px;
      &__down,
      &__bold {
         display: block;
         text-align: start;
         font-family: "Montserrat-Regular";
      }
      &__service {
         font-size: 68px;
         text-align: start;
      }
      &__bold {
         display: none;
      }
   }

   .repair {
      &__title {
         font-size: 26px;
      }
      &__box1,
      &__box2 {
         font-size: 12px;
      }
   }

   .main {
      .parthers {
         &__list {
            // display: flex;
            // flex-wrap: wrap;
            // flex-direction: column;
            // align-items: center;
            // font-size: 22px;
         }
      }

      .clients {
         margin-bottom: 40px;
         &__list {
            display: flex;
            flex-direction: column;
            font-size: 28px;
            grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
            li {
               padding-bottom: 15px;
            }
         }
      }
   }

   .footer {
      &__list &__mail::before {
         top: 9px;
      }
   }

   // внутренние страницы
   .main {
      .advantage {
         &__title {
            font-size: 50px;
         }
         &__text {
            font-size: 13px;
         }
      }
      .image-first {
         margin-right: 60px;
      }
      .image-second {
         margin-left: 60px;
      }
      .work {
         display: flex;
         flex-direction: column;
         align-items: center;
         &__name {
            font-size: 28px;
         }
         &__terrain-first {
            height: 310px;
            width: 450px;
         }
         &__terrain-second {
            margin-top: 30px;
            height: 436px;
            width: 450px;
         }
      }
   }
   .job-img {
      width: 320px;
      height: 500px;
   }

   .big {
      width: 440px;
      height: 300px;
   }
}

@media (max-width: 575px) {
   .header {
      &__nav {
         padding-top: 15px;
         padding-bottom: 15px;
      }
      &__logo {
         font-size: 19px;
         text-align: center;
      }
   }

   .desc {
      padding-top: 8em;
      padding-bottom: 7em;
      &__service {
         text-align: start;
      }
   }

   .burger-menu__button {
      width: 46px;
      height: 46px;
      top: 5px;
   }

   .burger-menu__lines,
   .burger-menu__lines::after,
   .burger-menu__lines::before {
      width: 22px;
      height: 3px;
   }
   .burger-menu__lines::after {
      top: -8px;
   }
   .burger-menu__lines::before {
      top: 8px;
   }
   .burger-menu__nav {
      left: -150%;
   }
   .burger-menu__link {
      font-size: 16px;
   }

   .desc {
      font-size: 16px;
      &__service {
         font-size: 48px;
      }
   }

   // внутренняя страница
   .main {
      .all-terrain {
         margin-top: 50px;
      }

      .advantage {
         &__title {
            padding-top: 90px;
            font-size: 36px;
         }
         &__text {
            font-family: "Montserrat-Light";
            font-size: 14px;
         }
         &__text-left {
            text-align: left;
         }
         &__text-right {
            text-align: right;
         }
      }
      &__profile {
         font-size: 40px;
         margin-bottom: 40px;
      }
      &__prof {
         font-size: 38px;
         margin-bottom: 30px;
         margin-top: 24px;
      }

      .repair {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
         &__titel {
            font-size: 32px;
         }
      }
      .parthers {
         &__title {
            font-size: 40px;
         }
         &__list {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            font-size: 14px;
         }
      }

      .clients {
         margin-bottom: 62px;
         &__title {
            font-size: 40px;
         }
         &__list {
            font-size: 17px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            justify-items: center;
            justify-content: center;
         }
      }

      .map-text {
         font-size: 32px;
         letter-spacing: 1px;
      }

      .image-first {
         margin-right: 15px;
      }

      .image-second {
         margin-left: 15px;
      }

      .work {
         display: flex;
         flex-direction: column;
         align-items: center;
         li {
            font-size: 18px;
         }
         &__terrain-first {
            height: 380px;
            width: 300px;
         }
         &__terrain-second {
            margin-top: 30px;
            height: 500px;
            width: 300px;
         }
         &__svp-first {
            height: 340px;
            width: 300px;
         }
         &__svp-second {
            height: 380px;
            width: 300px;
            margin-top: 30px;
         }
         &__disel-first {
            margin-bottom: 30px;
         }
         &__disel-second {
         }
         &__list {
            display: grid;
            grid-template-columns: 1fr;
         }
      }
   }

   .big {
      width: 320px;
      height: 420px;
   }
}
